
 <div class="row comments" id="<%= @tab %>_comments_<%= @item.id %>" name="<%= @tab %>_comments_<%= @item.id %>" >
                 <% @item.comments.each do |comment| %>
   <!-- 画像始まり-->    
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <%= link_to user_path(comment.user.id) do %>
                      <div class= "p-3 com_frame">
                            <%= image_tag comment.user.avatar.url, class: "com_pic rounded-circle"%>
                      </div>
                    <% end %>
                      <p> <%= comment.user.public_name %></p>
                 </div>
   <!-- 画像終わり-->    
     <!-- 吹き出し始まり-->                
                 <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                     <div class="comment">  
                              <p><%= comment.comment_detail %></p>
                              <div class="comment_time">
                                  <p><%= comment.created_at.strftime('%Y/%m/%d-%H:%M') %>
                               </div>
                    </div>
                 </div> 
     <!-- 吹き出し終わり --> 
                 <% end %> 
                </div> <!-- row comments -->
                 <div class ="row comment_error">
                <% if @c_errors_messages.blank? %>
                <% else %>
                  コメント<%= @c_errors_messages %>
                <% end %>
                 </div>