<!--  プロフィール編集  -->
<div class="profile_edit container">
     <!-- プロフィールのヘッダ -->
     <nav class = "navbar bg-warning navbar-dark box-header row">
       <a class = "navbar-brand">プロフィール編集</a>
     </nav>

    <!--  公開用プロフィールの編集 -->
     <h5 class="form-group" align="left">プロフィール1(公開情報)</h5>
     <hr>
     <%= form_with(model:@user ,local: true) do |form| %>
        <!--  @userのエラーがあるか確認。あった場合、@user.errors.full_messagesをすべて出力 -->
        <% if @user.errors.any? %>
             <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% user.errors.full_messages.each do |message| %>
                       <li><%= message %></li>
                  <% end %>
                </ul>
             </div>
       <% end %>

     <div class="col-md-9">

          <!-- avatar-->
          <div class = "py-2">
               <%= image_tag current_user.avatar.url, class: "border rounded-circle" %>
           </div>
          <div class = "form-group">
               <%= form.label :avatar %><br />
              <%= form.file_field :avatar %>
          </div>
          <!--  名前、エリア、家族構成 -->
          <div class="field form-group">
                <%= form.label :"公開用名前(公開されます)" %>
                <%= form.text_field :public_name, class: "form-control" %>
          </div>
          <div class="field form-group">
                <%= form.label :"都道府県(公開されます)" %>
                <%= form.select :area1, [@user.area1],{} ,{ class: "form-control" }  %>
          </div>
          <div class="field form-group">
                <%= form.label :"地域(公開されます)" %>
                <%= form.select :area2, [@user.area2],{} ,{ class: "form-control" }  %>
          </div>
          <div class="field form-group">
                <%= form.label :"家族構成(公開されます)" %>
                <%= form.text_field :family, class: "form-control"  %>
          </div>

     </div>  <!-- col-md-9 end -->

      <div class="actions">
      <%= form.submit "更新する",:class=>"btn btn-primary" %>
       <%= link_to"戻る", home_path,:class=> 'btn gray'  %>
      </div>
      <% end %>  <!--  form_with end -->
       <hr>
    <!--  公開用プロフィールの編集end -->

    <!--  送信用メールアドレスの編集 -->
      <h5 class="form-group" align="left">プロフィール2(期限送信用メールアドレス)</h5>
      <hr>
     <div class="col-md-9">
       <% if @remindmails.nil? %>
          <!-- 何もしない -->
       <% else %>
           <% @remindmails.each_with_index do |remindmail, i| %>
               <%= form_with(model:remindmail ,local: true) do |form| %>
                 <div class="field form-inline">
                   <span class="form-group">
                       <%= form.label :"メールアドレス#{i+1} " %>
                       <%= form.text_field :remind_email, class: "form-control" %>
                   </span>
                   <span class="actions">
                       <%= form.submit "更新する",:class=>"btn btn-primary" %>
                       <%= link_to '消去する', remindmail, method: :delete, data: { confirm: '削除します。よろしいですか?' }, class: 'btn red' %>
                   </span>
                 </div>

               <% end %>  <!--  remindmail form_with -->
           <% end %>   <!--  remindmails.each end -->
       <% end %>   <!--  if end -->
       <br>
       <%= form_with model: Remindmail.new do |form|%>
        <div class="field form-inline">
          <div class="form-group">
             <%= form.label :"新規メールアドレス" %>
             <%= form.text_field :remind_email, placeholder: 'メール入力',class:"form-control" %>
          </div>
          <div class="actions">
             <%= form.submit "作成する",:class=>"btn btn-success" %>
          </div>
        </div>  <!-- form inline -->
             <%= link_to"戻る", home_path,:class=> 'btn gray'  %>
         
       <% end %>   <!--  form_with new end -->
     </div> <!-- col-md-9 div -->

</div>  <!-- profile_edit end-->
