<!--  プロフィール  -->
<div class="profile_edit container">
     <!-- プロフィールのヘッダ -->
     <nav class = "navbar bg-warning navbar-dark box-header row">
       <a class = "navbar-brand">プロフィール</a>
     </nav>

 <!--  公開用プロフィールの編集 -->
    <div class="col-md-9">

          <!-- avatar-->
          <div class = "py-2">
               <%= image_tag @user.avatar.url, class: "border rounded-circle" %>
           </div>
            <!--  名前、エリア、家族構成 -->
          
               <p>名前</p>
               <p> <%= @user.public_name %>
               <p>エリア</p>
               <p> <%= @user.area1 %> / <%= @user.area2 %>
               <p> 家族構成 <p>
             <p> <%= @user.family %>
                <p> 自己紹介<p>
             <p> <%= @user.profile %>
        

</div>