<!--  itemが必要   -->
               <div class="item col-lg-3 col-md-4 col-sm-4">
                <%= link_to edit_item_path(item) do %>
                   <div class= " p-3 pic_frame">
                      <%= image_tag item.picture.url, class: "item_pic"%>
                   </div> <!-- pic_frame-->
                <% end %> <!-- link_to end -->
                 <table class="table">
                   <tr><td><%= "名前"%></td> <td><%= item.item_name %></td></tr>
                   <tr><td><%= "数量"%></td> <td><%= item.item_volume %></td></tr>
                   <% if item.item_expiry.blank? %>
                   <tr><td><%= "期限"%></td> <td> なし </td></tr>
                   <% else %>
                   <tr><td><%= "期限"%></td> <td><%= item.item_expiry.strftime('%Y年%m月%d日') %></td></tr>
                   <% end %>  <!-- if item.expiry end-->
                 </table>
               </div> <!-- item-->
            