 <!--subcategoryでsortしたitemたちを表示 item_cate_sort,categoryが必要  -->

 <% item_cate_sort[category.id].each_with_index do |items,i| %>   <!--あるcategoryのsubカテゴリー群でeach  -->
       <% if items.nil? %>
       <% else%>
         <div class="row" >
                  <label class="control-label">&emsp;◼<%= category.subcategories[i].subcategory_name %> </label>
         </div>  <!-- row subcategory名 -->
         <br>
         <div class="row tab_category_subcategory_<%= category.subcategories[i].id %>">
                <%= render partial: 'items', locals: {items: items} %> 
         </div>   <!-- row item -->
      <% end %>  <!-- if end -->
       <div class = "row tab_category_subcategory_<%= category.subcategories[i].id %>_paginate">
           &emsp;&emsp;<%= paginate items, params: {:tab => "tab_category",:subcategory_id => category.subcategories[i].id}, :remote => true %>
                   </div> 
            

 <% end %> 
 