<h1> これは管理者用ページです </h1>

<ul>
  <li>  <%= link_to 'ホーム画面へ戻る',  home_path %> </li>
  <li>  <%= link_to "ユーザー管理画面へ", admin_users_path, :target=>["_blank"] %> </li>
</ul>

<p> カテゴリー管理　</p>
<div class="table-responsive">
<table class="table table-bordered table-striped"> 
   <thead>
    <tr>  
        <th>index</th>
        <th>カテゴリー名</th>
        <th>作成日</th>
        <th>削除</th>
    </tr>
  </thead>
 <tbody>
   
<%  @categories.each_with_index do |category, i| %>
 <tr>  
  <td><%= "#{i+1}" %></td>
  <td>
    <form id="form_<%= "#{i+1}" %>">
    <input type="text" id="category_name_<%= "#{i+1}" %>" value=<%= category.category_name %>>
    </form>
  </td>
  <td><input type="button" id="category_name_btn_<%= "#{i+1}" %>" class="btn btn-primary category_name_btn" value="変更" /> </td>
  <td><%= category.created_at %></td>
  <td>削除ボタン</td>
 </tr>  
 <% end %>
</tbody>   
</table>
</div> <!-- table responsive-->


<%= form_with( model: Category.new, url: categories_path) do |form| %>

    <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name %>
  </div>
  <div class="actions">
             <%= form.submit "作成する",:class=>"btn btn-success" %>
          </div>
<% end %>