
<div class="items container ">
  <nav class = "navbar bg-warning navbar-dark box-header row">
    <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  
  <!-- タブボタン部分 -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link active" data-toggle="tab">全て</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">カテゴリー別</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">期限近い</a>
  </li>
  <li class="nav-item">
    <a href="#tab4" class="nav-link" data-toggle="tab">コメント</a>
  </li>
</ul>

    <br>
   <div class="tab-content">
     <div id="tab1" class="tab-pane active">
       <div class="row" >
         <% if @items.nil? %>
         <% else%>
           <% @items.each do |item| %>
               <div class="item col-lg-3 col-md-4 col-sm-4">
                <%= link_to edit_item_path(item) do %>
                   <div class= " p-3 pic_frame">
                      <%= image_tag item.picture.url, class: "item_pic"%>
                   </div> <!-- pic_frame-->
                <% end %> <!-- link_to end -->
                 <table class="table">
                   <tr><td><%= "名前"%></td> <td><%= item.item_name %></td></tr>
                   <tr><td><%= "数量"%></td> <td><%= item.item_volume %></td></tr>
                   <% if item.item_expiry.blank? %>
                   <tr><td><%= "期限"%></td> <td> なし </td></tr>
                   <% else %>
                   <tr><td><%= "期限"%></td> <td><%= item.item_expiry.strftime('%Y年%m月%d日') %></td></tr>
                   <% end %>  <!-- if item.expiry end-->
                 </table>
               </div> <!-- item-->
            <% end %> <!-- @items.each end-->
         <% end %>  <!-- if end -->
        </div> <!-- row -->
     </div>   <!-- tab1 -->
     <div id="tab2" class="tab-pane">
        
        <% if @items.nil? %>
        <% else%>
        <% @categories.each do |category| %>
        <div class="row" >
        <label class="control-label">▪️<%= category.category_name %> </label>
        </div>  <!-- row category名 -->
        <br>
        <div class="row">
          <% @items.each do |item| %>
                <% if item.category_id == category.id %>  
                <div class="item col-lg-3 col-md-4 col-sm-4">
                    <%= link_to edit_item_path(item) do %>
                       <div class= " p-3 pic_frame">
                          <%= image_tag item.picture.url, class: "item_pic"%>
                       </div> <!-- pic_frame-->
                    <% end %> <!-- link_to end -->
                     <table class="table">
                       <tr><td><%= "名前"%></td> <td><%= item.item_name %></td></tr>
                       <tr><td><%= "数量"%></td> <td><%= item.item_volume %></td></tr>
                       <% if item.item_expiry.blank? %>
                       <tr><td><%= "期限"%></td> <td> なし </td></tr>
                       <% else %>
                       <tr><td><%= "期限"%></td> <td><%= item.item_expiry.strftime('%Y年%m月%d日') %></td></tr>
                       <% end %>  <!-- if item.expiry end-->
                     </table>
                   </div> <!-- item-->
                <% else %>
                <% end %>
          <% end %> <!-- @items.each end-->
        </div>   <!-- row item -->
         <% end %>   <!-- @categories end-->
          <% end %>  <!-- if end -->
       
     </div>  <!-- tab2-->

     <div id="tab3" class="tab-pane">  <!-- 期限近いもの -->
<!--1週間以内 -->      
      <div class="row" >
          <label class="control-label">▪️1週間以内 </label>
          </div>  <!-- row  -->
      <% if @items.nil? %>
      <% else%>
      <div class="row">
           <% @items.each do |item| %>
             <% if item.item_expiry.blank? %>
                <% delta_t = 100000 %>
             <%else%>
                <% delta_t = ((item.item_expiry - Time.now)/(3600*24)).ceil %>
             <%end%>
             <% if delta_t < 8 %>
              
             <div class="item col-lg-3 col-md-4 col-sm-4">
                <%= link_to edit_item_path(item) do %>
                   <div class= " p-3 pic_frame">
                      <%= image_tag item.picture.url, class: "item_pic"%>
                   </div> <!-- pic_frame-->
                <% end %> <!-- link_to end -->
                     <table class="table">
                       <tr><td><%= "名前"%></td> <td><%= item.item_name %></td></tr>
                       <tr><td><%= "数量"%></td> <td><%= item.item_volume %></td></tr>
                       <% if item.item_expiry.blank? %>
                       <tr><td><%= "期限"%></td> <td> なし </td></tr>
                       <% else %>
                       <tr><td><%= "期限"%></td> <td><%= item.item_expiry.strftime('%Y年%m月%d日') %></td></tr>
                       <% end %>  <!-- if item.expiry end-->
                     </table>
                   </div> <!-- item-->
             <% end %>  <!-- if delta_t end-->  
           <% end %>  <!-- @items -->
         </div>  <!-- row --> 
      <% end %> <!--if end -->
      
<!--1ヶ月以内 -->      
      <div class="row" >
          <label class="control-label">▪️1ヵ月以内 </label>
          </div>  <!-- row  -->
      <% if @items.nil? %>
      <% else%>
      <div class="row">
           <% @items.each do |item| %>
             <% if item.item_expiry.blank? %>
                <% delta_t = 100000 %>
             <%else%>
                <% delta_t = ((item.item_expiry - Time.now)/(3600*24)).ceil %>
             <%end%>
             <% if delta_t > 7 && delta_t < 31 %>   <!-- 8 - 30 -->
              
             <div class="item col-lg-3 col-md-4 col-sm-4">
                <%= link_to edit_item_path(item) do %>
                   <div class= " p-3 pic_frame">
                      <%= image_tag item.picture.url, class: "item_pic"%>
                   </div> <!-- pic_frame-->
                <% end %> <!-- link_to end -->
                     <table class="table">
                       <tr><td><%= "名前"%></td> <td><%= item.item_name %></td></tr>
                       <tr><td><%= "数量"%></td> <td><%= item.item_volume %></td></tr>
                       <% if item.item_expiry.blank? %>
                       <tr><td><%= "期限"%></td> <td> なし </td></tr>
                       <% else %>
                       <tr><td><%= "期限"%></td> <td><%= item.item_expiry.strftime('%Y年%m月%d日') %></td></tr>
                       <% end %>  <!-- if item.expiry end-->
                     </table>
                   </div> <!-- item-->
             <% end %>  <!-- if delta_t end-->  
           <% end %>  <!-- @items -->
         </div>  <!-- row --> 
      <% end %> <!--if end -->
      
<!--3ヶ月以内 -->      
      <div class="row" >
          <label class="control-label">▪️3ヵ月以内 </label>
          </div>  <!-- row  -->
      <% if @items.nil? %>
      <% else%>
      <div class="row">
           <% @items.each do |item| %>
             <% if item.item_expiry.blank? %>
                <% delta_t = 100000 %>
             <%else%>
                <% delta_t = ((item.item_expiry - Time.now)/(3600*24)).ceil %>
             <%end%>
             <% if delta_t > 30 && delta_t < 91 %>    <!-- 31 - 90 -->
              
             <div class="item col-lg-3 col-md-4 col-sm-4">
                <%= link_to edit_item_path(item) do %>
                   <div class= " p-3 pic_frame">
                      <%= image_tag item.picture.url, class: "item_pic"%>
                   </div> <!-- pic_frame-->
                <% end %> <!-- link_to end -->
                     <table class="table">
                       <tr><td><%= "名前"%></td> <td><%= item.item_name %></td></tr>
                       <tr><td><%= "数量"%></td> <td><%= item.item_volume %></td></tr>
                       <% if item.item_expiry.blank? %>
                       <tr><td><%= "期限"%></td> <td> なし </td></tr>
                       <% else %>
                       <tr><td><%= "期限"%></td> <td><%= item.item_expiry.strftime('%Y年%m月%d日') %></td></tr>
                       <% end %>  <!-- if item.expiry end-->
                     </table>
                   </div> <!-- item-->
             <% end %>  <!-- if delta_t end-->  
           <% end %>  <!-- @items -->
         </div>  <!-- row --> 
      <% end %> <!--if end -->

    </div>  <!-- tab3-->
      <div id="tab4" class="tab-pane">


      </div>  <!-- tab4-->

    </div>  <!-- tab-content -->
</div>  <!-- items container -->

<% content_for :sidebar_left do %>
 <%= render partial: 'layouts/sidebar', locals: {user: @user, remindmails: @remindmails} %>
<% end %>
