
<div class="items">
  <nav class = "navbar bg-warning navbar-dark box-header">
    <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
<table class="table">
<tr><td>
  <div class="item">
  <nav>
  <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  </div>
 </td>
 <td>
  <div class="item">
  <nav>
    <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  </div>
</td>
<td>
  <div class="item">
  <nav>
    <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  </div>
</td>
</tr>
<tr><td>
  <div class="item">
  <nav>
  <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  </div>
 </td>
 <td>
  <div class="item">
  <nav>
    <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  </div>
</td>
<td>
  <div class="item">
  <nav>
    <a class = "navbar-brand" href="/">防災グッズ</a>
  </nav>
  </div>
</td>
</tr>
</table>

</div>


<% content_for :sidebar_left do %>
<div class= 'profile'>
  <nav class = "navbar bg-warning navbar-dark box-header">
    <a class = "navbar-brand" href="/">プロフィール</a>
    <p><%= link_to '編集', user_profile_path %></p>
  </nav>

  <div class="col-md-12">
       <div class= "card p-4">
             <%= image_tag current_user.avatar.url, class: "card-img-top rounded-circle"%>
       </div>
  </div>

<table class="table">

<tr><td>名前:</td><td><%= @user.public_name %></td></tr>
<tr><td>エリア:</td> <td><%= @user.area1 %> / <%= @user.area2 %></td></tr>
<tr><td>家族構成:</td> <td><%= @user.family %></td></tr>
<% if @remindmails.nil? %>
<% else%>
  <% @remindmails.each_with_index do |remindmail, i| %>
       <tr><td><%= "メールアドレス#{i+1}"%>:</td> <td><%= remindmail.remind_email %></td></tr>
  <% end %>
 <% end %>

 <%if @user.role == "admin" %>
  <tr><td></td>
  <td><%= link_to "アドミンページ", admin_users_path %></td></tr>
<% end %>

</table>
</div>



<% end %>
