
<div class="items container ">
  <nav class = "navbar bg-warning navbar-dark box-header row">
    <a class = "navbar-brand" href="/">あなたの防災グッズ</a>
  </nav>
  
  <!-- タブボタン部分 -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link active" data-toggle="tab">登録順</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">カテゴリー別</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">期限近い</a>
  </li>
  <li class="nav-item">
    <a href="#tab4" class="nav-link" data-toggle="tab">新しいコメント (<%= @all_unread_counts%>件) </a>
  </li>
</ul>

    <br>
   <div class="tab-content">
     <div id="tab1" class="tab-pane active">
         <% if @items.nil? %>
         <% else%>
            <div class="home_tab1">
             <%= render partial: 'tab1', locals: {items: @items} %>
            </div> 
         <% end %>  <!-- if end -->
        <div class = "row home_tab1_paginate">
           &emsp;&emsp;<%= paginate @items,params: {:tab => "tab1"}, :remote => true %>
        </div>
     </div>   <!-- tab1 -->
     <div id="tab2" class="tab-pane home_tab2">
          <%= render partial: 'tab2', locals: {items_array: @items_array,categories: @categories} %>
     </div>  <!-- tab2-->
     <div id="tab3" class="tab-pane home_tab3">  <!-- 期限近いもの -->
        <%= render partial: 'tab3', locals: { items_expiry_array:  @items_expiry_array} %>
    </div>  <!-- tab3-->
      <div id="tab4" class="tab-pane">
         <div class="row" >
         <% if @items_unread.nil? %>
         <% else%>
            <% @items_unread.each do |item| %>
              <% counts = 0 %>
              <% item.comments.each do |comment| %>
                <% if comment.read == "unread" %>
                    <% counts = counts +1 %> 
                <% end %> 
              <% end %>
              <% if counts > 0 %> 
                 <%= render partial: 'item_table', locals: {item: item} %> 
              <% end %>
           <% end %> <!-- @items_unread.each end-->
         <% end %>  <!-- if end -->
        </div> <!-- row -->
      </div>  <!-- tab4-->

    </div>  <!-- tab-content -->
</div>  <!-- items container -->

<% content_for :sidebar_left do %>
 <%= render partial: 'layouts/sidebar', locals: {user: @user, remindmails: @remindmails} %>
<% end %>
