<div class="" style="margin:30px;">
<h1> お問い合わせフォーム </h1>

<%= form_with(model: @contact, local: true) do |f| %>
 
<!-- 名前 -->
 <%= f.label :"お名前" %>
    <% if @error_details.key?(:contact_name) %>
          <div class ="error_state">
            名前<%= @error_messages[:contact_name][0]%>
          </div>
          <div class = "field form-group">
             <%= f.text_field :contact_name,class:'',style: "background-color: #ffA0A0; width:800px;" %>
          </div>
    <% else %>
          <div class = "field form-group">
             <%= f.text_field :contact_name,class:'',style: "width:800px;"%>
          </div>
    <% end %>
<!-- 名前end -->
<!-- メール -->
 <%= f.label :"メールアドレス" %>
    <% if @error_details.key?(:contact_email) %>
          <div class ="error_state">
            メールアドレス<%= @error_messages[:contact_email][0]%>
          </div>
          <div class = "field form-group">
             <%= f.text_field :contact_email,class:'',style: "background-color: #ffA0A0; width:800px;" %>
          </div>
    <% else %>
          <div class = "field form-group">
             <%= f.text_field :contact_email,class:'',style: "width:800px;"%>
          </div>
    <% end %>
<!-- メールend -->
<!-- メッセージ -->
 <%= f.label :"メッセージ" %>
    <% if @error_details.key?(:message) %>
          <div class ="error_state">
            メッセージ<%= @error_messages[:message][0]%>
          </div>
          <div class = "field form-group">
             <%= f.text_area :message,class:'',style: "background-color: #ffA0A0; height:500px; width:800px;" %>
          </div>
    <% else %>
          <div class = "field form-group">
             <%= f.text_area :message,class:'', style: "height:500px; width:800px;"%>
          </div>
    <% end %>
<!-- メッセージend -->
<div>
 <%= f.submit "送信する", :class=> "btn btn-info", style: "font-size:48px;"%>
 </div>
<% end %>
</div>

<%= render "layouts/yield_footer" %>  
  <br><br><br><br>