<!-- partial  みんなのグッズ検索結果 @items, @like_hashが必要 -->

      <table class="table row">  <!-- みんなのグッズ一覧 -->
        <tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <% items.each do |item| %>  <!-- グッズごとのループ -->
       <tr class="row"><td class="container"> <!-- rowで一つにグッズ表示部それをコンテナ化 -->
<!-- プロフィール画像、グッズ画像、説明部の始まり-->   
          <div class="row">                 <!-- プロフィール画像、グッズ画像、説明を格納するrow -->
            <div class="col-lg-2 col-md-2 col-sm-2">  <!-- プロフィール画像部-->
               <div class= "card p-3">
                  <%= image_tag item.user.avatar.url, class: "card-img-top rounded-circle"%>
               </div>
               <p> <%= item.user.public_name %></p>
            </div>  
            <div class="item col-lg-3 col-md-4 col-sm-4">  <!-- グッズ画像部  -->
                  <%= link_to edit_item_path(item) do %>
                     <div class= " p-3 pic_frame">
                        <%= image_tag item.picture.url, class: "item_pic"%>
                     </div> <!-- pic_frame-->
                  <% end %> <!-- link_to end -->
             </div>
            <div class="col-lg-7 col-md-6 col-sm-6"> <!--説明部  -->
              <table class="table">
                  <tr>
                    <td>名前:</td><td><%= item.item_name %> </td>
                  </tr>
                   <tr><td>数量:</td><td><%= item.item_volume %></td> 
                  </tr>  
              </table>      
                  <p class="public_memo_explain">
                      <%= item.item_public_memo %>
                  </p>
            </div>  
          </div> <!-- プロフィール画像、グッズ画像、説明を格納するrow のend -->
<!-- イイネボタン、いいね数、コメント数表示部の始まり-->   
          <div class="row"> <!-- イイネボタン、いいね数、コメント数表示部-->
             <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class= "col-lg-2 col-md-3 col-sm-3"> <!-- いいねボタン-->
                <div  class="goodbtn_item<%= item.id %> goodbtn_part">
                   <% if like_hash.has_value?(item.id)%>
                     <%= button_to likeitem_path(like_hash.key(item.id)), method: :delete, class: 'off-btn',remote: true do %>
                     取り消す
                     <% end %>
                   <% else %>
     　               <%= form_with model: Likeitem.new do |form|%>
                        <%= form.hidden_field :item_id, :value => item.id %>
                        <%= form.hidden_field :user_id, :value => current_user.id %>
                        <%= form.submit "いいね", :class=>"good-btn" %>
                      <% end %>       
                   <% end %>
                </div>
            </div> <!-- いいねボタン -->
            <div class="col-lg-8 col-md-7 col-sm-7 count_region"> <!-- いいね数、コメント数-->
                  <span class="count_part">
                      いいね:<span class="count_item<%= item.id %>"><%= item.likeitems.count %></span>件/
                      コメント数:<span ><%= item.comments.count %></span>件
                  </span>
            </div> <!-- いいね数、コメント数　end-->
          </div> <!-- イイネボタン、いいね数、コメント数表示部のend-->

  <!-- コメント欄始まり-->        
           <div class="row"> <!--コメント欄 -->    
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>  <!-- 空欄-->
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <!--コメント欄-->
                <div class="row comments">
                 <% item.comments.each do |comment| %>
   <!-- 画像始まり-->    
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class= "p-3 com_frame">
                            <%= image_tag comment.user.avatar.url, class: "com_pic rounded-circle"%>
                      </div>
                      <p> <%= comment.user.public_name %></p>
                 </div>
   <!-- 画像終わり-->    
     <!-- 吹き出し始まり-->                
                 <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                     <div class="comment">  
                              <p><%= comment.comment_detail %></p>
                              <div class="comment_time">
                                  <p><%= comment.created_at.strftime('%Y/%m/%d-%H:%M') %>
                               </div>
                    </div>
                 </div> 
     <!-- 吹き出し終わり --> 
                 <% end %>
                 
                </div> <!-- row comments -->
              </div> <!--コメント欄終わり -->  
           </div> <!-- row-->
  <!-- コメント欄終わり -->
          <br>
  <!-- コメント記入部始まり -->
           <div class="row"> <!-- コメント記入部-->
              <div class="col-md-10">
                      <%= form_with model: Comment.new do |form|%>
                      <div class="field form-group">
                             
                              <%= form.text_area :comment_detail,placeholder: 'コメントを記入してください',class:'form-control'%>
                       </div>  <!-- field box_comment_detail-->
                         <%= form.hidden_field :item_id, :value => item.id %>
              </div>
              <div class="col-md-2">
                       <%= form.submit "コメント", :class=>"btn btn-info" %>
              </div>   <!-- col-md-3 -->
                      <% end %>  <!-- form_with Commnet  -->
           </div>  <!-- コメント記入部 row　end-->
          </td></tr> <!-- 一つのグッズの一覧終了  -->
       <% end %> <!-- グッズごとのループ終了 -->
      </tbody>
      </table>  <!--グッズ一覧終了 -->