<!-- partial  みんなのグッズ検索結果 @itemsが必要 -->

      <table class="table test row">
        <tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <% items.each do |item| %>
       <tr class="row"><td class="container">
          <div class="row">
            <div class="col-md-2">
            <div class= "card p-3">
                  <%= image_tag item.user.avatar.url, class: "card-img-top rounded-circle"%>
            </div>
            <p> <%= item.user.public_name %></p>
          </div>  
            <div class="item col-lg-3 col-md-4 col-sm-4">
                  <%= link_to edit_item_path(item) do %>
                     <div class= " p-3 pic_frame">
                        <%= image_tag item.picture.url, class: "item_pic"%>
                     </div> <!-- pic_frame-->
                  <% end %> <!-- link_to end -->
            </div>
          <div class="col-md-7">
        <p><%= item.item_name %> </p>
        <%= item.item_volume %>
        <%= item.item_public_memo %>
      </div>
           </div>  <!-- row-->
           <br>
  <!-- コメント欄始まり-->        
          <div class="container">
           <div class="row">    
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>  <!-- 空欄-->
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <!--コメント欄-->
                <div class="row comments">
                 <% item.comments.each do |comment| %>
   <!-- 画像始まり-->    
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class= "p-3 com_frame">
                            <%= image_tag comment.user.avatar.url, class: "com_pic rounded-circle"%>
                      </div>
                      <p> <%= comment.user.public_name %></p>
                 </div>
   <!-- 画像終わり-->    
     <!-- 吹き出し始まり-->                
                 <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                     <div class="comment">  
                              <p><%= comment.comment_detail %></p>
                              <div class="comment_time">
                                  <p><%= comment.created_at.strftime('%Y/%m/%d-%H:%M') %>
                               </div>
                    </div>
                 </div> 
     <!-- 吹き出し終わり --> 
                 <% end %>
                 
                </div> <!-- row comments -->
              </div> <!--コメント欄終わり -->  
           </div> <!-- row-->
           </div> <!--container -->
  <!-- コメント欄終わり -->
          <br>
           <div class="row">
              <div class="col-md-10">
                      <%= form_with model: Comment.new do |form|%>
                      <div class="field form-group">
                             
                              <%= form.text_area :comment_detail,placeholder: 'コメントを記入してください',class:'form-control'%>
                       </div>  <!-- field box_comment_detail-->
                         <%= form.hidden_field :item_id, :value => item.id %>
              </div>
              <div class="col-md-2">
                       <%= form.submit "コメント", :class=>"btn btn-info" %>
              </div>   <!-- col-md-3 -->
                      <% end %>  <!-- form_with Commnet  -->
           </div>  <!--row-->
          </td></tr>
       <% end %>
      </tbody>
      </table>