<div class="items container">

<%= form_with(model: @item, local: true) do |form| %>
<div class="row">
    <div class="col-md-3">
<!--name-->       
　    <div class="field ">
       <%= form.label :"名前" %>
       <%= form.text_field :item_name%>
      </div> <!-- field-->

<!-- picture-->
        <div class="preview col-md-10 col-sm-10 col-xs-6">
        <%= image_tag @item.picture.url, class: "card-img-top"%>
        </div>
      <div class = "form-group">
        <%= form.label :画像を選択 %><br />
        <%= form.file_field :picture, class: 'form_pic' %>
     </div>  <!-- form-group-->
    </div>  <!-- col-md-3-->
    <div class="col-md-4">
     <table class="table table-borderless">   
        <!-- 登録日 -->      
                <tr>
                  <td>登録日</td>
                  <td>  <%= @item.created_at.strftime('%Y年%m月%d日')  %></td>
                </tr>
 <!-- category-->
                <tr>
                  <td>カテゴリー</td>
                  <td><%= form.select :category_id, @category_selects,{:prompt => "category?"}, {:class => "btn category_tab"} %></td>
                </tr>
 <!--数量--> 
               
                <tr>
                  <td>  <%= form.label :"数量" %></td>
                  <td>
                      <div class="field ">
                        <%= form.text_field :item_volume%>
                      </div>
                  </td>
                </tr>
                
<!--期限-->
                <tr>
                 <td>期限</td>
                 <td>
                     <div class="field">   
                        <span class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <%= form.text_field(:item_expiry, placeholder: '期限',
                               class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"}) %>
                           <span class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                             <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                           </span>
                       </span>
                     </div>
                   </td>
                 </tr>
     </table>
    </div>  <!-- col-md-4 -->
    <div class="col-md-5">
        <br>
 <!--public_memo-->    
  <div class="field form-group">
     <%= form.label :"公開用memo" %>
     <%= form.text_area :item_public_memo,class:'form-control'%>
   </div>
 <!--private_memo-->    
 <div class="field form-group">
     <%= form.label :"非公開memo" %>
     <%= form.text_area :item_private_memo,class:'form-control'%>
   </div>
 
 <div class="field">
     <%= form.label :"公開する" %>
     <%= form.check_box :item_open_flag, {},  "公開する", "公開しない"%>
 </div>
 
 <%= form.submit "更新する", :class=>"btn btn-info" %>
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: '削除します。よろしいですか?' }, class: 'btn red' %>
  <%= link_to "戻る", home_path, class: 'btn btn-default gray' %>
 
 </div> <!--col-md-5 -->
 </div>   <!-- row -->
<% end %>  <!--  form_with end -->

</div>  <!-- items container -->

<br>

<div class="items container">
    <nav class = "navbar bg-warning navbar-dark box-header row">
        <a class = "navbar-brand">コメント</a>
      </nav>

<div class="row">
    <p>aaa</p>
  
    <%= Time.now %>
    <br>
    <%= @item.item_expiry %>
    <br>
    <%= (@item.item_expiry - Time.now)/(3600*24) %>
  </div>   <!-- row 2つめ -->

</div>

