<div class="items_smart">
 <br><br>
  <h1 style="font-size:64px;"> 防災アイテムの新規登録 </h1>
  <br>
<%= form_with model: Item.new do |form|%>    
<div class="smart_new">
<!-- category-->
   <table class="table smart_table" >   
        <tr>
          <td>大分類</td>
          <td>
             &emsp;
            <span class="water" >  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                           <i class="water_icon fa fa-tint fa-3x"  id ="<%= @subcategories[1].to_json %>" style="color:#e0e0ff;"></i>
                       </span>&emsp;
            <span class="food">  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                          <i class="food_icon fa fa-cutlery fa-3x"  id ="<%= @subcategories[2].to_json %>" style="color:#e0e0e0;"></i>
             </span>&emsp;
            <span class="goods">  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                          <i class="goods_icon fa fa-home fa-3x"  id ="<%= @subcategories[3].to_json %>" style="color:#fff080;"></i>
             </span>&emsp;
             <br><br>
             <div id="category_display" style="display:none;" ></div>
           </td>
        </tr>
<!-- subcategory-->
        <tr>
           <td>小分類</td>
           <td> 
            <% if @i_error_details.key?(:subcategory) %>
               <div class ="error_state">
                 分類<%= @i_error_messages[:subcategory][0]%>
               </div>
            <% else %>
            <% end %>
               <%= form.select :subcategory_id,[],{:prompt => "選択してください"}, {:class => " category_tab", :style=>"font-size:40px;"}%>
           </td>
        </tr>
<!--name-->   
        <tr><td>名前</td>
        <td> 
          <% if @i_error_details.key?(:item_name) %>
            <div class ="error_state">
              名前<%= @i_error_messages[:item_name][0]%>
            </div>
            <div class = "field form-group">
              <%= form.text_field :item_name,class:'',style: "background-color: #ffA0A0; font-size:40px; height:60px; width:800px;  border:solid;" %>
            </div>
          <% else %>
            <div class = "field form-group">
              <%= form.text_field :item_name,class:'',style: "font-size:40px; height:60px; width:800px;  border:solid;"%>
            </div>
          <% end %>
        </td>
        </tr>
<!--数量--> 
        <tr>
        <td>  <%= form.label :"数量" %></td>
        <td>
           <% if @i_error_details.key?(:item_volume) %>
              <div class ="error_state">
                数量<%= @i_error_messages[:item_volume][0]%>
              </div>
              <div class="field">
                <%= form.select :item_volume, @volume_selects,{:prompt => "数量を選択して下さい"}, {:class => "category_tab" , :style=>"font-size:40px; background-color: #ffA0A0;"}%>
              </div>
           <% else %>
               <div class="field">
               <%= form.select :item_volume, @volume_selects,{:prompt => "数量を選択して下さい"}, {:class => "category_tab", :style=>"font-size:40px;"}%>
              </div>
          <% end %>
        </td>
        </tr>
<!--期限-->
        <tr>
          <td>期限</td>
          <td>
          <div class="smart_check">
            <%= check_box :expiry_check,"check_val",class:"expiry_check",style:" transform: scale(3);" %>
　          <%= label_tag :expiry_check, "期限を入力する"%>
          </div>
            <div id="expiry_parts" style="display:none;" >
              <%= form.date_select :expiry_parts, {}, class: '',style: "font-size:40px; width:200px;  height:100px;" %>
              </div>
          </td>
        </tr>
<!-- 登録日 -->      
         <tr>
         <td>登録日</td> 
         <td> <%= Time.now.strftime('%Y年%m月%d日') %>(本日)</td>
         </tr>
<!-- picture-->   
           <tr>
           <td>写真</td>
           <td> 
          <div class = "preview">
             <%= image_tag '' ,class:"card-img-top" %>
          </div>
          <div class = "form-group">
              <%= form.file_field :picture, class: 'form_pic' %>
          </div>  <!-- form-group -->
          </td>
          </tr>
     </table>
       <br>
       <hr>
<!--public_memo-->    
 <div class="field form-group">
    <%= form.label :"公開用memo" %>
    <%= form.text_area :item_public_memo,class:'',style: "font-size:40px; width:800px; height:240px;"%>
  </div>
<!--private_memo-->    
<div class="field form-group">
    <%= form.label :"非公開memo" %>
    <%= form.text_area :item_private_memo,class:'',style: "font-size:40px; width:800px; height:240px;"%>
  </div>

<div class="field">
    
    <%= form.check_box :item_open_flag, {style:" transform: scale(3);"},  "公開する", "公開しない"%>
    &emsp;<%= form.label :"公開する" %>
</div>
<br>
<%= form.submit "登録する", :class=>"btn btn-info",style: "font-size:52px; width:400px;" %>
<br><br>

</div>  
<% end %>  <!--  form_with end -->

</div> 

<%= render "layouts/yield_footer" %>  
  <br><br><br><br>
