<div class="items container">
    
<%= form_with model: Item.new do |form|%>    
 <div class="row">
     <div class="col-md-3">
       <br>
<!-- category-->
   <table class="table table-borderless">   
        <tr>
          <td>大分類</td>
          <td>
           
             &emsp;
            <span class="water" id="1_<%= @subcategories.to_json %>" >  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                           <i class="water_icon fa fa-tint fa-2x"  id ="<%= @subcategories[1].to_json %>" style="color:#e0e0ff;"></i>
                       </span>&emsp;
            <span class="food" id="2_<%= @subcategories.to_json %>">  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                          <i class="fa fa-cutlery fa-2x"  id ="<%= @subcategories[2].to_json %>" style="color:#e0e0e0;"></i>
             </span>&emsp;
            <span class="goods" id="3_<%= @subcategories.to_json %>">  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                          <i class="fa fa-home fa-2x"  id ="<%= @subcategories[3].to_json %>" style="color:#fff080;"></i>
             </span>&emsp;
               </td>
        </tr>

<!-- subcategory-->
        <tr>
           <div id="subcategory_display" style="display:none;" >
           <td>小分類</td>
           <td> 
          <%= form.select :subcategory_id,[],{:prompt => "選択してください"}, {:class => "btn category_tab"}%>
          </td>
           </div>
        </tr>
      
<!--name-->   
    <tr><td>名前</td>
      <td> 
       <div class="field">
        <% if @i_error_details.key?(:item_name) %>
          <div class ="error_state">
            名前<%= @i_error_messages[:item_name][0]%>
          </div>
         
          <%= form.text_field :item_name,  style: "background-color: #ffA0A0;" %>
        <% else %>
        
          <%= form.text_field :item_name%>
        <% end %>
       </div>  <!-- field box_name-->
       </td>
       </tr>
       <!--数量--> 
  
         <tr>
          <td>  <%= form.label :"数量" %></td>
          <td>
            <% if @i_error_details.key?(:item_volume) %>
              <div class ="error_state">
                数量<%= @i_error_messages[:item_volume][0]%>
              </div>
              <div class="field">
                <%= form.select :item_volume, @volume_selects,{:prompt => "数量を選択して下さい"}, {:class => "btn category_tab"},style: "background-color: #ffA0A0;"%>
          
              </div>
            <% else %>
               <div class="field">
               <%= form.select :item_volume, @volume_selects,{:prompt => "数量を選択して下さい"}, {:class => "btn category_tab"}%>
              </div>
            <% end %>
          </td>
         </tr>
         <!--期限-->
         
        <tr>
          <td>期限</td>
          <td>
              <div class="field">   
                  <span class="input-group date" id="datetimepicker1" data-target-input="nearest">
                       <%= form.text_field(:item_expiry, placeholder: '期限',
                            class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"}) %>
                       <span class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                           <span class="input-group-text"><i class="fas fa-calendar-plus"></i></span>
                      </span>
                  </span>
                    </div>
          </td>
        </tr>
      </table>
    </div>  <!-- col-md-3-->
    <br>
     <div class="col-md-4">
　    <table class="table table-borderless">   
<!-- 登録日 -->      
        <tr>
          <td>登録日</td>
          <td> <%= Time.now.strftime('%Y年%m月%d日') %>(本日)</td>
        </tr>
<!-- picture--> 
        <tr><td></td>
        <td>
          <div class = "preview ">
             <%= image_tag '/noimage.jpg' ,class:"card-img-top" %>
          </div>
          <div class = "form-group">
               <%= form.label :画像を選択 %><br />
              <%= form.file_field :picture, class: 'form_pic' %>
          </div>  <!-- form-group -->
          </td>
         </tr>
      </table>
     </div>  <!-- col-md-4 -->
     <div class="col-md-5">
       <br>
<!--public_memo-->    
 <div class="field form-group">
    <%= form.label :"公開用memo" %>
    <%= form.text_area :item_public_memo,class:'form-control'%>
  </div>
<!--private_memo-->    
<div class="field form-group">
    <%= form.label :"非公開memo" %>
    <%= form.text_area :item_private_memo,class:'form-control'%>
  </div>

<div class="field">
    <%= form.label :"公開する" %>
    <%= form.check_box :item_open_flag, {},  "公開する", "公開しない"%>
</div>

<%= form.submit "登録する", :class=>"btn btn-info" %>

</div> <!--col-md-5 -->
</div>   <!-- row -->



<% end %>  <!--  form_with end -->

</div>  <!-- container -->
