 <h1 style="font-size:56px;"> 備蓄の基礎知識　</h1>
    <div class = "bs_explain_smart">
    <br>
      <h5>&emsp;備蓄の重要性</h5>
        <p>&emsp;災害が発生すると、水、食料の確保が重要となります。公的な支援物資はすぐに届くとは限りません。普段から飲料水や食料などを備蓄しておきましょう。<br>
           &emsp;防災のための保存食を備蓄することも大切ではありますが、普段の生活の中で利用されている食品等を備えるローリングストック方もあります。<br>
           &emsp;また、電気/ガス/水道などのライフラインも止まる可能性があリます。ガスコンロを使った調理器具や簡易トイレ、寒さ対策品も大切な備蓄アイテムです。<br>
           &emsp;その他、簡易トイレや口腔ウォッシュティッシュなどの衛星グッズ、ランタンや電池などの生活用品、携帯ラジオなどの情報機器も備えておきましょう。
        </p>
      <h5>&emsp;備蓄は最低３日分を</h5>
         <p>&emsp;災害発生から3日を過ぎると生存率が著しく下がるため、災害発生から3日間は人命救助が最優先になります。<br>
         &emsp;道路の復旧や避難所への物資輸送はその後になるので、まずこの3日間を自力で乗り越えられるよう準備しましょう。
         </p>
         <br>
         <p style="font-size:42px;margin:0;color:#000000;">&emsp;食料・飲料・生活必需品などの備蓄の例(人数分用意しましょう）</p>
         <div style="margin:10px;">
          <table class="table table-bordered" style="background-color:#f0fff8;">
           <tr><td> 水・飲料:</td><td>3日分（1人1日3リットルが目安） </td></tr>
           <tr><td>食料品:</td><td>3日分の食料 </td></tr>
           <tr><td> 装備用品:</td><td> 革手袋、ヘッドライト、安全帽...</td></tr>
           <tr><td>  衣料・防寒用品:</td><td>レインコート、コンタクトレンズ...</td></tr>
           <tr><td> 救急用品:</td><td> 常備薬、ウェットティッシュ、救急セット...</td></tr>
           <tr><td> 衛星グッズ:</td><td>簡易トイレ、トイレットペーパー、ゴミ袋...</td></tr>
           <tr><td> 料理用品:</td><td> カセットコンロ、カセットボンベ、ラップ...</td></tr>
           <tr><td>  生活用品:</td><td>ポリ袋、電池、ランタン、タオル...</td></tr>
           <tr><td> 情報機器:</td><td>携帯ラジオ、スマホ充電用バッテリー...</td></tr>
            </table>
         </div>
            <p style="font-size:36px;">&emsp;*トイレを流したりするための生活用水も必要です。水道水を入れたポリタンクを用意する、お風呂の水をいつも張っておく、などの備えも大切です。<br>
               &emsp;*大規模災害発生時には、「1週間分」の備蓄が望ましいとされています。 
            </p>
            <p>&emsp;また、<%= link_to "日本気象協会", "https://tokusuru-bosai.jp/stock/stock02.html", :target=>["_blank"] %> さんのページでは、自宅で３日間過ごす時に必要な備蓄品の例が挙がっています。
            </p>
         <div>
          </div>
　         <h5> カテゴリー別揃えておきたい防災グッズ</h5>
               <ul>
               <li>水・飲料 </li>
               <li>食料品 </li>
                <li>装備用品 </li>
                <li>衣料・防寒用品 </li>
                <li>救急用品 </li>
               <li>衛星グッズ </li>
               <li>料理用品 </li>
                <li>装備用品 </li>
               <li>生活用品 </li>
                 <li>情報機器 </li>
               </ul> 
           <h5>非常持ち出しバッグの準備</h5>
            <p>&emsp;自宅が被災した場合、避難所での避難生活を送ることになります。<br>
                &emsp;非常時に持ち出すべきものをあらかじめ袋やバッグに入れて、すぐに持ち出せるようにしておきましょう。
            </p>
            <br>
           <hr style="border: solid 3px; color: #c0c0c0;">
             <p style="margin:0;"> 参照元: </p>
           <p>&emsp;<%= link_to "首相官邸_災害に対するご家庭での備え～これだけは準備しておこう！", "https://www.kantei.go.jp/jp/headline/bousai/sonae.html", :target=>["_blank"] %>
           </p>
           <p>&emsp;<%= link_to "日本気象協会_ローリングストック法について", "https://tokusuru-bosai.jp/stock/stock03.html", :target=>["_blank"] %>
           </p>
           <p>&emsp;<%= link_to "日本気象協会_備蓄の心得", "https://tokusuru-bosai.jp/stock/stock02.html", :target=>["_blank"] %>
           </p>
    </div> <!-- bs-explain -->


<%= render "layouts/yield_footer" %>  
  <br><br><br><br>