<% if user_signed_in? %>
 <div class="smart_footer">
  <ul class="nav">
   <li>
　   <%= link_to home_path do %>
       <i class="fa fa-file-text-o fa-3x"></i>
       <p> &emsp; 管理</p>
     <% end %>
   </li>
   <li>
　   <%= link_to new_item_path do %>
       <i class="fa fa-pencil-square-o fa-3x"></i> 
       <p> &emsp; 登録</p>
     <% end %>
   </li>
   <li>
    　<%= link_to info_path do %>
         <i class="fa fa-info fa-3x"></i> 
         <p>防災情報</p>
      <% end %>
   </li>
   <li>
　    <%= link_to items_path do %>
         <i class="fa fa-cubes fa-3x"></i> 
         <p >みんなのグッズ</p>
      <% end %>
   </li>
   <li>
　     <%= link_to murmurs_path do %>
          <i class="fa fa-users fa-3x"></i> 
          <p> &emsp;つながり</p>
       <% end %>
    </li>
  </ul>
 </div>
<% else %>
 <div class="smart_footer_before_login">
  <ul class="nav">
     <li>
    　<%= link_to root_path do %>
         <i class="fa fa-reply fa-3x "></i> 
         <p>&emsp;トップ</p>
      <% end %>
     </li>
     <li>
      <%= link_to home_path do %>
         <i class="fa fa-sign-in fa-3x"></i> 
         <p>ログイン</p>
      <% end %>
     </li>
     <li>
      <%= link_to new_user_registration_path do %>
         <i class="fa fa-pencil fa-3x"></i>  
         <p>新規登録</p>
      <% end %>
     </li>
     <li>
    　<%= link_to start_info_path do %>
         <i class="fa fa-info fa-3x"></i> 
         <p>防災情報</p>
      <% end %>
   </li>
  </ul>
<% end %>
