<nav class = "navbar navbar-expand-md bg-warning navbar-dark">
  
<a class = "navbar-brand" href="/"><%=ApplicationHelper::APP_NAME %></a>
    <% if user_signed_in? %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                   <% if current_user.role == "admin" %>
                      <%= link_to "アドミンページ", adminhome_path, class: "nav-link text-secondary"%>
                  <% end %>
                </li>
                <li class="nav-item dropdown"> 
                   <%= link_to "ログイン情報編集", edit_user_registration_path, class: "nav-link text-secondary"%>
                </li>
                <li class="nav-item dropdown">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-secondary"%>
                </li>
            </ul>
        </div>
    <% end %>
</nav>
<br>

<% if user_signed_in? %>
 <table class="table table-bordered table-hover" id = "service" align="center">
  <tr>
   <td><%= link_to"グッズ管理", home_path %> </td>
   <td><%= link_to"グッズ登録", new_item_path %></td>
   <td><%= link_to"防災情報", info_path %></td>
   <td><%= link_to"みんなのグッズ",items_path %></td>
   <td><%= link_to"つながり",murmurs_path %></td>
  </tr>
 </table>
<% else %>
 <table class="table table-bordered table-hover" id="service_no_login" align="center">
  <tr>
     <td> <%= link_to"トップ", root_path %> </td>
     <td><%= link_to"防災情報", start_info_path %></td>
  </tr>
 </table>   
<% end %>


 
