
<div class= 'profile'>
    <div class= 'container'>
          <% if user == current_user %>
           <nav class = "navbar bg-warning navbar-dark box-header row ">
             <a class = "navbar-brand" style="color: #ffffff;">プロフィール</a>
             <p><%= link_to '編集', user_profile_path %></p>
          <% else %>
           <nav class = "navbar bg-info navbar-dark box-header row ">
             <a class = "navbar-brand" style="color: #ffffff;">プロフィール</a>
             <p><%= link_to 'ユーザーページ', user_path(id:user.id), style: "font-size: 12px; color:#ffffff;" %></p>
          <% end %>
        </nav>
   <div class='row'>
        <div class="col-md-12">
           <%= link_to user_profile_path do %>
             <div class= "card p-4">
                   <%= image_tag user.avatar.url, class: "card-img-top rounded-circle"%>
             </div>
             <% end %>
        </div>
   <div class="col-md-12">
      <table class="table table-striped table-condensed ">
      
      <tr><td>ニックネーム:</td></tr>
      <tr><td>
       <% if user.public_name.blank? %>
        <span class="yet_blank"> ニックネームを記入してください <span>
       <% else %>
         <%= user.public_name %>
       <% end %>
      </td></tr>
      <tr><td>エリア:</td></tr> 
      <tr><td>
       <% if user.area1.blank? %>
         <span class="yet_blank"> エリアを記入してください<span>
       <% else %>
         <%= user.area1 %> / <%= user.area2 %>
       <% end %>
      </td></tr>
      <tr><td>家族構成:</td></tr>
      <tr><td>
         <% if user.senior > 0 %>
          大人(65歳以上):&emsp;<%= user.senior %>人 <br>
        <% end %>
        <% if user.middle > 0 %>
          大人(20歳〜64歳):&emsp;<%= user.middle %>人 <br>
        <% end %>
        <% if user.junior > 0 %>
          子供(6歳〜19歳):&emsp;<%= user.junior %>人<br>
        <% end %>
        <% if user.infant > 0 %>
          未就学児(0歳〜5歳):&emsp;<%= user.infant %>人 <br>
        <% end %>
      </td></tr>
      <tr><td>自己紹介:</td></tr>
      <tr><td>
        <% if user.profile.blank? %>
         <span class="yet_blank"> 自己紹介を記入してください</span>
       <% else %>
         <p style="font-size: 12px;  word-break: break-all;"> <%= user.profile %> </p>
       <% end %>
      </td></tr>
      <% if remindmails.nil? %>
      <% else%>
        <% remindmails.each_with_index do |remindmail, i| %>
             <tr><td><%= "メールアドレス#{i+1}"%>:</td></tr> 
             <tr><td><%= remindmail.remind_email %></td></tr>
        <% end %>
       <% end %>
     </table>
    </div>  
</div>  <!-- col-mid-12 -->
</div>
</div>