<!-- partial  地域の人々検索結果 @allusers, @max_itemsが必要 -->
 <div class="row"><div class="container">  
       <% allusers.each do |a_user| %>
        <div class="row">
         <div class="col-lg-3 col-md-3 col-sm-3">  <!-- プロフィール画像部-->
            <div class= "card p-3">
                <%= image_tag a_user.avatar.url, class: "card-img-top rounded-circle"%>
            </div>
            <div>
                 <p style="font-size:14px;"><%= a_user.public_name %> </p>
                 <p style="font-size:14px;"><%= a_user.area1 %>/ <%= a_user.area2 %>  </p>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6"> 
               
                <p style="font-size:14px;"> 登録グッズ数: <%= a_user.items.count  %>  </p>
                <p style="font-size:14px;"> お気に入られ: <%= a_user.favorites_of_to_user.count  %>  </p>
                
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3">
                 <%= link_to edit_item_path(max_items[a_user.id]) do %>
                     <div class= " p-3 pic_frame">
                        <%= image_tag max_items[a_user.id].picture.url, class: "item_pic"%>
                     </div> <!-- pic_frame-->
                  <% end %> <!-- link_to end -->
            <div>
                 <p style="font-size:14px;"><%= max_items[a_user.id].item_name %>/いいね:<%= max_items[a_user.id].likeitems.count %>件 </p>
            </div>
         </div>  
        </div>  <!-- row end -->
        <hr>
      <% end%> <!-- each end -->
     </div> <!--container-->
     </div>  <!--row -->