<!-- @murmursが必要 -->
<% @murmurs.each do |murmur| %>  <!-- 呟きごとのループ -->
         <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">  <!-- プロフィール画像部-->
                  <div class= "card p-3">
                   <%= image_tag murmur.user.avatar.url, class: "card-img-top rounded-circle"%>
                  </div>
                  <p style="font-size:14px;"><%= murmur.user.public_name %> </p>
                    <p style="font-size:12px;"> <%= murmur.user.area1 %>/ <%= murmur.user.area2 %>  </p>   
              </div> <!-- col end-->
              <div class="col-lg-10 col-md-10 col-sm-10">
                     <div class="comment">  
                           <% if murmur.murmur_picture_file_name.nil? %>
                           <% else %>
                              <div class= " p-3 pic_frame">
                                  <%= image_tag murmur.murmur_picture.url, class: "item_pic"%>
                              </div>
                           <% end %>
                              <p> <%= simple_format(murmur.murmur_detail) %> </p>
                              <div class="comment_time">
                                  <p><%= murmur.created_at.strftime('%Y/%m/%d-%H:%M') %> </p>
                               </div>
                    </div>  <!-- comment end-->
              </div> <!-- col end -->
        </div> <!-- row end -->
        <hr style="border: solid 1px;color:#f0c020;">
      <% end %>