<div class="items container ">
        <nav class = "navbar bg-warning navbar-dark box-header row">
          <a class = "navbar-brand" style="color:#ffffff;">つながり</a>
        </nav>

<!-- タブボタン部分 -->
<ul class="nav nav-tabs row">
        <li class="nav-item">
          <a href="#tab1" class="nav-link active" data-toggle="tab">他のユーザーの発信</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link" data-toggle="tab">お気に入りの人</a>
        </li>
        <li class="nav-item">
          <a href="#tab3" class="nav-link" data-toggle="tab">発信する</a>
        </li>
      </ul>

<!-- タブ内容部分 -->
　<div class="tab-content row">
    <div id="tab1" class="tab-pane active container">   
      <%= form_with(url: '/murmurs',method: 'get') do |form|%>
        <div class = "form-group search">
          <%= form.label :都道府県から検索 %>
          <%= form.select :area1, [@user.area1],{} ,{ class: "form-control" }  %>
        </div>
　      <div class = "form-group search">
          <%= form.label :詳細なエリアから検索 %>
          <%= form.select :area2, [@user.area2],{} ,{ class: "form-control" }  %>
        </div>
           <%= form.hidden_field :tab, :value => 'tab1' %>
        <%= form.submit "検索", :class=>"btn btn-info" %>
        <% end %>  <!-- form end -->
     
      <hr>
      <div class="" id="region_search_tab1">
          <%= render partial: 'region_search', locals: {allusers: @allusers, max_items: @max_items, favorite_hash: @favorite_hash, tab: "tab1", new_murmurs: @new_murmurs} %>   <!-- 検索結果が表示される -->
      </div>
      <div class = "row region_search_tab1_pagenate">
           &emsp;&emsp;<%= paginate @allusers,params: {:tab => "tab1"}, :remote => true %>
        </div>
   </div> <!-- tab1 -->

   <div id="tab2" class="tab-pane container">
      <p> お気に入りに登録した人が表示されます </p>
       <p> 表示されない場合は、ページを更新してください </p>
      <hr>
    <div class="" id="region_search_tab2">
          <%= render partial: 'region_search', locals: {allusers: @favorite_users, max_items: @max_items, favorite_hash: @favorite_hash, tab: "tab2", new_murmurs: @new_murmurs} %>   <!-- 検索結果が表示される -->
      </div>
      <div class = "row region_search_tab2_pagenate">
           &emsp;&emsp;<%= paginate @favorite_users,params: {:tab => "tab2"}, :remote => true %>
        </div>


   </div>  <!-- tab2 end-->
   <div id="tab3" class="tab-pane container">
      　   
　     <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">  <!-- プロフィール画像部-->
               <div class= "card p-3">
                  <%= image_tag @user.avatar.url, class: "card-img-top rounded-circle"%>
               </div>
               <p style="font-size:14px;"><%= @user.public_name %> </p> 
       </div> <!-- col end-->
       <!--  つぶやき記入部 -->
       <div class="col-lg-10 col-md-10 col-sm-10">
        <%= form_with model: Murmur.new do |form|%>
                 <div class="row">
                    <div class="col-md-9">
                       <div class="m_errors_messages" style="color:#ff0000;"></div>
                        <div class="field form-group murmur_write" style="margin:0;">
                              <%= form.text_area :murmur_detail,placeholder: '発信する',class:'form-control'%>
                        </div>  <!-- field -->
                    <!-- picture-->       
                       <div class="img_field" onClick="$('#file').click()" >  <!-- アイコン表示 jqueryでクリックされるとfiel_fieldに入る -->
                           <i class="fa fa-image fa-2x"></i>
                       </div>
                        <div class = "form-group">
                           <%= form.file_field :murmur_picture, class: 'form_pic', style: "display:none;", id: "file" %>
                        </div>  <!-- form-group -->
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4">
                              <br>
                               <div class = "preview">
                                  <%= image_tag '' ,class:"card-img-top" %>
                               </div>
                          </div>
                        </div>
                        <!-- picture end -->
                    </div> <!-- col end -->
                    <div class="col-md-3">
                       <%= form.submit "発信", :class=>"btn btn-info" %>
                    </div>   <!-- col-md-2 -->
                 </div>  <!-- コメント記入部 row　end-->
               <% end %>  <!-- form_with Commnet  -->
        </div>    <!-- つぶやき記入部　col end -->
   </div> <!-- row end -->　     
 <Hr style="border: solid 1.5px; border-color:#f0f0f0;">
  <p style="text-align:left; font-size:16px;"> 今までの発信<%= @all_murmurs_count %>件</p>
 <div class="" id="region_search_tab3">
          <%= render partial: 'tab3', locals: {murmurs: @murmurs, tab: "tab3"} %>   <!-- 検索結果が表示される -->
      </div>
      <div class = "row region_search_tab3_pagenate">
           &emsp;&emsp;<%= paginate @murmurs,params: {:tab => "tab3"}, :remote => true %>
        </div>
      
   </div>  <!-- tab3 end-->
 
　</div>  <!-- tab-content -->
</div>  <!-- items container-->


<% content_for :sidebar_left do %>
 <%= render partial: 'layouts/sidebar', locals: {user: @user, remindmails: @remindmails} %>
<% end %>